body{
    background: linear-gradient(to right, rgb(1, 1, 34), rgb(21, 41, 53));
}

.remove {
    list-style-type: none; 
 }


.neon {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
      0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1),
      0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1),
      0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1),
      0 0 180px rgba(38, 104, 127, 1);
  }